absl-py==2.0.0
aiohttp==3.9.3
aiosignal==1.3.1
async-timeout==4.0.3
attrs==23.1.0
blobfile==2.1.1
boto3==1.34.15
botocore==1.34.15
cachetools==5.3.2
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
clip==1.0
contourpy==1.2.0
cycler==0.12.1
DALL-E==0.1
datasets==2.18.0
dill==0.3.8
exceptiongroup==1.2.0
fairscale==0.4.4
filelock==3.13.1
fonttools==4.46.0
frozenlist==1.4.1
fsspec==2023.12.0
ftfy==6.1.3
fvcore==0.1.5.post20221221
google-auth==2.24.0
google-auth-oauthlib==1.1.0
grpcio==1.59.3
huggingface-hub==0.19.4
idna==3.6
importlib-metadata==7.0.0
importlib-resources==6.1.1
iniconfig==2.0.0
iopath==0.1.10
jmespath==1.0.1
joblib==1.3.2
kiwisolver==1.4.5
lxml==4.9.4
lz4==4.3.3
Markdown==3.5.1
MarkupSafe==2.1.3
matplotlib==3.8.2
multidict==6.0.5
multiprocess==0.70.16
mypy==1.9.0
mypy-extensions==1.0.0
numpy==1.23.5
oauthlib==3.2.2
opencv-python==4.8.1.78
packaging==23.2
pandas==2.2.1
Pillow==10.1.0
pluggy==1.4.0
portalocker==2.8.2
protobuf==4.23.4
psutil==5.9.6
pyarrow==15.0.2
pyarrow-hotfix==0.6
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycocoevalcap==1.2
pycocotools==2.0.7
pycryptodomex==3.20.0
pyparsing==3.1.1
pytest==8.1.1
python-dateutil==2.8.2
pytorch-pretrained-bert==0.6.0
pytorch-pretrained-vit==0.0.7
pytz==2024.1
PyYAML==6.0.1
regex==2023.10.3
requests==2.31.0
requests-oauthlib==1.3.1
rsa==4.9
ruamel-yaml-conda @ file:///croot/ruamel_yaml_1667489728852/work
ruamel.yaml.clib @ file:///croot/ruamel.yaml.clib_1666302247304/work
s3transfer==0.10.0
sacremoses==0.1.1
scikit-learn==1.3.2
scipy==1.11.4
seaborn==0.13.2
six==1.16.0
stanfordcorenlp==3.7.0.2
tabulate==0.9.0
tensorboard==2.15.1
tensorboard-data-server==0.7.2
termcolor==2.4.0
threadpoolctl==3.2.0
timm==0.4.12
tokenizers==0.13.3
tomli==2.0.1
torch==1.11.0+cu113
torchaudio==0.11.0+cu113
torchmultimodal-nightly==2024.2.23
torchsummary==1.5.1
torchvision==0.12.0+cu113
tqdm==4.66.1
transformers==4.25.1
typing_extensions==4.8.0
tzdata==2024.1
urllib3==1.26.18
utils==1.0.2
wcwidth==0.2.12
Werkzeug==3.0.1
xxhash==3.4.1
yacs==0.1.8
yarl==1.9.4
zipp==3.17.0
